@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~nice-select2/dist/css/nice-select2.css";

input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 36px;
	height: 36px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}